.boost-bg {
  background-image: url("/src/assets/bg-boost-desktop.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 2rem;
}

.boost-title {
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
}

.boost-btn {
  width: fit-content;
  align-self: center;
}
